table
{
  border-radius: var(--border-radius);
  overflow: hidden;
}

table th,
table td {
    border: 1px solid var(--grey-3);
}

td, th {
  padding: $spacing-medium;
}

th {
  color: var(--grey-3);
  font-weight: 700;
  white-space: nowrap;
   {
    white-space: wrap;
  }
}

tr th, tr td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}
